<app-card title="Ng Switch Formal">
    <div class="row">
        <div class="col-4">
            <button (click)="formal = '1'" class="bg-blue-400">primary</button>
            <button (click)="formal = '2'" class="bg-green-400">Success</button>
            <button (click)="formal = '3'" class="bg-red-400">Danger</button>
        </div>
        <div class="col-6">
            <ng-container [ngSwitch]="formal">
                <ng-template ngSwitchCase="1">
                    <div class="bg-blue-600">Case 1</div>
                </ng-template>
                <ng-template ngSwitchCase="2">
                    <div class="bg-green-600">Case 2</div>
                </ng-template>
                <ng-template ngSwitchCase="3">
                    <div class="bg-red-600">Case 3</div>
                </ng-template>
                <ng-template ngSwitchDefault>
                    <div class="bg-sky-300">Default</div>
                </ng-template>
               
            </ng-container>
        </div>
    </div>
</app-card>

<app-card title="Ng Switch Formal">
    <div class="row">
        <div class="col-4">
            <button (click)="shortHand = '1'" class="bg-blue-400">primary</button>
            <button (click)="shortHand = '2'" class="bg-green-400">Success</button>
            <button (click)="shortHand = '3'" class="bg-red-400">Danger</button>
        </div>
        <div class="col">
            <ng-container [ngSwitch]="shortHand">
                <div *ngSwitchCase="1" class="bg-blue-600">Case 1</div>
                <div  *ngSwitchCase="2"class="bg-green-600">Case 2</div>
                <div *ngSwitchCase="3" class="bg-red-600">Case 3</div>
                <div  *ngSwitchDefault class="bg-sky-600">Default</div>
              
               
            </ng-container>
        </div>
    </div>
</app-card>

