<div class="m-24">
    <app-card title="State And Division">
        
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NO
                </th>
                <th scope="col" class="px-6 py-3">
                    Divison Name EN
                </th>
                <th scope="col" class="px-6 py-3">
                    Divison Name MM
                </th>
                <th scope="col" class="px-6 py-3">
                    Capital
                </th>
                <th scope="col" class="px-6 py-3">
                    Districts MM
                </th>
                <th scope="col" class="px-6 py-3">
                    Districts EN
                </th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let item of db; index as i,even as e" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4">
                    {{i + 1}}
                 </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{item.eng}}
                </th>
                <td class="px-6 py-4">
                   {{item.mm}}
                </td>
                <td class="px-6 py-4">
                    {{item.capital}}
                </td>
                <td class="px-6 py-4">
                   {{item.districts[0].mm}}
                </td>
                <td class="px-6 py-4">
                   {{item.districts[0].eng}}
                </td>
            </tr>
          
        </tbody>
    </table>
</div>

    </app-card>

</div>
